body {
    background-image: url(assets/rt1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#content {
    left: 0px;
    color: white;
    bottom: 40px;
    position: absolute;
    background-attachment: scroll;
    text-shadow: black ;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.226);  
    backdrop-filter: blur(5px);
}
